body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 32px;
	color: #333;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #169E1E;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #146EB4;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}
#menu a.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #169E1E;
	text-transform: uppercase;
	letter-spacing: -1px;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #169E1E;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #0FAB72;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #0FAB72 !important;
	background-color: transparent;
}
#menu .phone {
	font-family: 'Montserrat', sans-serif;
	margin: 4px 0 0 120px;
	float: left;
	font-size: 16px;
	font-weight: 400;
	color: #999;
}
#menu .phone span {
	font-size: 14px;
	display: block;
	color: #169E1E;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #fff;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #1b6d3f;
}

.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #146EB4;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #146EB4;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #169E1E;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.dropbtn {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #169E1E;
	letter-spacing: 1px;
	padding: 16px 12px;
	font-size: 14px;
	font-weight: 600;	
	border-radius: 0;
	background-color: transparent;
	border: none;
}

.dropdown {
	
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 160px;
	box-shadow: 0 8 16 0 rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: #169E1E;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {color: #0FAB72;}


/* #Header */

.intro {
	display: table;
	width: 100%;	
	padding: 0;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.intro img{
	min-width: 50px;
	width: 100%;
}

.intro .overlay {
	background: rgba(0,0,0,0.3);
}
.intro h1 {
    font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 62px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.intro p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(0,0,0,.45);
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 150px;
	text-align: center;
}

/* #Inner-Banner */

#innerBanner{
	padding: 138px 0 64px;
	text-align:center;
	background: #f6f6f6;
}
#innerBanner h2{
	color:#169E1E ;
	text-align:center;
	font-weight:normal;
	font-size:18px;
	margin:0px;
}
#innerBanner h2 span{
	color: #169E1E ;
	font-weight:bold;
	font-size:38px;
	text-align:center;
}
.svgImg img{
	width:120px;
}

/* #GetTouch */

#get-touch {
	padding: 40px 0 30px;
	color: rgba(255,255,255,.7);
	background: #169E1E;
}
#get-touch h3 {
	font-size: 24px;
	font-weight: 400;
	color: #fff;
	margin: 0 0 10px 0;
}
#get-touch .btn-custom {
	margin: 0;
	background: transparent;
	border: 2px solid #fff;
}
#get-touch .btn-custom:hover {
	color: #169E1E;
	background: #fff;
	border: 2px solid #fff;
}

/* #About */

#about {
	padding: 110px 0;
	background: #f6f6f6;
}
#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#about h2::after {
	position: absolute;
	content: "";
	background-color: #146EB4;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}
#about .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #169E1E;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}
#about img {
	padding: 20px;
	width: 500px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}

/* #AboutMainPage */
#amain {
	padding: 110px 0;
	background: #169e1e;
}
#amain h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}
#amain h2 {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-weight: 700;
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#amain p{
	color: #fff;
}
#amain h2::after {
	position: absolute;
	content: "";
	background-color: #146EB4;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}

#amain img {
	padding: 20px;
	width: 500px;
	margin-top: 10px;
	background: #fff;
	border-right: 0;
	box-shadow: 0 0 50px rgba(0,0,0,0.06);
}
#amain p {
	line-height: 24px;
	margin: 30px 0;
}


/* #Team */


#team .slide ul li {
	display: inline-block;
	margin: 0 5px;
	outline: none;
	font-size: 22px;
}

#team{	
	background-color: #fff;
	margin-bottom: 50px;
	margin-top: 50px;
}

#team h2{
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-weight: 700;
}

#team h3{
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-weight: 700;
}

#team h4{
	color: #666;
	font-family:"Montserrat", sans-serif;
	font-size: 14px
}

#team .slick-slide{	
	width: auto;
	min-width: 250px;
	max-width: 390px;
}

#team .slick-slide img {
	width: 200px;
	height: 200px;		
}

#team .slick-slider
{	
	position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#team .slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#team .slick-list:focus
{
    outline: none;
}
#team .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

#team .slick-slider .slick-track,
#team .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

#team .slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
#team .slick-track:before,
#team .slick-track:after
{
    display: table;
    content: '';
}
#team .slick-track:after
{
    clear: both;
}
#team .slick-loading .slick-track
{
    visibility: hidden;
}

#team .slick-slide
{
	outline: none;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] #team .slick-slide
{
    float: right;
}
#team .slick-slide img
{
    display: block;
}
#team .slick-slide.slick-loading img
{
    display: none;
}
#team .slick-slide.dragging img
{
    pointer-events: none;
}
#team .slick-initialized .slick-slide
{
    display: block;
}
#team .slick-loading .slick-slide
{
    visibility: hidden;
}
#team .slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
#team .slick-arrow.slick-hidden {
    display: none;
}

/* #Services */

#services {
	padding: 60px 0 0 0;	
  }
  
  #services .box {
	padding: 40px;
	margin-bottom: 40px;
	background: #fff;
	transition: 0.4s;
	border: 1px solid #dedede;
  }
  
  #services .box:hover {
	box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
  }
  
  #services .box .icon {
	display: block;
	width: 100%;
	text-align: center;
	padding: 15px;
  }
  
  #services .box .icon i {
	color: #444;
	font-size: 44px;
	transition: 0.5s;
	line-height: 0;
	margin-top: 0px;
  }
  
  #services .box .icon i:before {
	background: #169E1E;
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  
  #services .box h4 {
	margin-left: 100px;
	font-weight: 700;
	margin-bottom: 24px;
	font-size: 22px;
	display: block;
	width: 100%;
	text-align: center;
	float: left;
	margin: 0;
  }
  
  #services .box h4 a {
	color: #444;
  }
  
  #services .box p {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	display: block;
	margin: 0;
	padding-top: 15px;
  }
  
  @media (max-width: 767px) {
	#services .box .box {
	  margin-bottom: 20px;
	}
	#services .box .icon {
	  float: none;
	  text-align: center;
	  padding-bottom: 15px;
	}
	#services .box h4, #services .box p {
	  margin-left: 0;
	  text-align: center;
	}
}

/* #portfolio */
#portfolio {
	padding: 100px 0;
	background: #ffff;
}
.portfolio-item {
	margin: 15px 0;
}
.portfolio-item .hover-bg {
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: #169e1e;
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 17px;
	letter-spacing: 1px;
	font-weight: 400;
	text-transform: uppercase;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* #Clients */

#clients{	
	background-color: #fff;
	margin-bottom: 50px;
	margin-top: 50px;
}

#clients h2{
	font-family: "Montserrat", sans-serif;
	color: #000;
	font-weight: 700;
}

#clients .slick-slide {
    margin: 0px 20px;
}

#clients .slick-slide img {
    width: 100%;
}

#clients .slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

#clients .slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#clients .slick-list:focus
{
    outline: none;
}
#clients .slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

#clients .slick-slider .slick-track,
#clients .slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

#clients .slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
#clients .slick-track:before,
#clients .slick-track:after
{
    display: table;
    content: '';
}
#clients .slick-track:after
{
    clear: both;
}
#clients .slick-loading .slick-track
{
    visibility: hidden;
}

#clients .slick-slide
{
    display: none;
    float: left;
    height: 100%;
	min-height: 1px;
	outline: none;
}
[dir='rtl'] #clients .slick-slide
{
    float: right;
}
#clients .slick-slide img
{
    display: block;
}
#clients .slick-slide.slick-loading img
{
    display: none;
}
#clients .slick-slide.dragging img
{
    pointer-events: none;
}
#clients .slick-initialized .slick-slide
{
    display: block;
}
#clients .slick-loading .slick-slide
{
    visibility: hidden;
}
#clients .slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
#clients .slick-arrow.slick-hidden {
    display: none;
}

/* #CalltoAction */

  #call-to-action {
	background: #169e1e;
	background-size: cover;
	padding: 40px 0;
  }
  #call-to-action .section-title{
	  font-family: "Montserrat", sans-serif;	  
	  color:#fff;
	  margin-bottom: 40px;	  
  }
  #call-to-action h2{
	  font-weight: 700;
  }

  #call-to-action .text {
	color: #fff;
	margin-left: 17px;
	text-align: left;
  }
  
  @media (min-width: 769px) {
	#call-to-action .button-container {
	  display: flex;
	  align-items: center;
	  justify-content: flex-end;
	}
  }
  
  #call-to-action .button {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 26px;
	border-radius: 3px;
	transition: 0.5s;
	margin: 10px;
	border: 3px solid #fff;
	color: #fff;
  }
  
  #call-to-action .button:hover {
	background: #ffffff;
	border: 3px solid #ffffff;
	color: #00a3d1;
  }
  

/* #Testimonials */

#testimonials {
	padding: 100px 0;	
	background:#169e1e;
}
#testimonials h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #fff;
}
#testimonials i {
	font-size: 32px;
	margin-bottom: 20px;
	color: #a4daac;
}
.testimonial {
	position: relative;
	padding: 20px;
}
.testimonial-image {
	float: left;
	margin-right: 15px;
}
.testimonial-image, .testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
}
.testimonial-content {
	position: relative;
	overflow: hidden;
	color: #a4daac;
}
.testimonial-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
	color: #a4daac;
}
.testimonial-meta {
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #a4daac;
}
/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	background: #169E1E;
	color: rgba(255,255,255,.65);
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact h2 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact h4 {
	color: #fff;
	margin-top: 22px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact form {
	padding-top: 20px;
}
#contact h3 {
	font-size: 17px;
	font-weight: 600;
}
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #fff;
}
#contact .btn-custom:hover {
	color: #169E1E;
	background: #fff;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	display: block;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 10px;
	color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #fff;
}

/* #Politics */

#politics .quality-politics{
	margin-top: 50px;
}

#politics .privacy-politics{
	margin-top: 50px;
}
#politics .legal{
	margin-top: 50px;
	margin-bottom: 50px;
}


/* #Footer */
#footer {
	font-family: "Montserrat", sans-serif;
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	font-family: "Montserrat", sans-serif;
	color: #888;
	font-size: 14px;
}
#footer a {
	font-family: "Montserrat", sans-serif;
	color: #888;
}
#footer a:hover {
	font-family: "Montserrat", sans-serif;
	color: #169e1e;
}
#footer h4{
	font-weight: 700;
	color: #888;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}
